*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #A586D6D4 !important;
    
}
header{
    background-color: #1C1C1C;
}
#rayssa{
    text-align: center;
    color: #df01d7;
}
.message{
    margin: 1rem;
    border-radius: 30px;
    background-color: #F1AEB5DE;
    padding: 2%;
}
.message .text_justify{
    text-align: justify;
    color: #000000;
}
.message .text_center{
    text-align: center;
    color: #000000;
}