*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #FFB6C1 !important;
}
header{
    background-color: #1C1C1C;
}
#rayssa{
    text-align: center;
}
.message{
    margin: 1rem;
    border-radius: 30px;
    background-color: black;
    padding: 2%;
    text-align: justify;
    color: #DB7093;
}